backstage:
  postgresql:
    enabled: true
    primary:
      resources:
        requests:
          memory: 256Mi
          cpu: 100m
      livenessProbe:
        initialDelaySeconds: 120
        timeoutSeconds: 10
      readinessProbe:
        initialDelaySeconds: 30
        timeoutSeconds: 10

  appConfig:
    app:
      baseUrl: http://localhost:7007
    backend:
      baseUrl: http://localhost:7007
      listen:
        port: 7007
      cors:
        origin: http://localhost:7007

  # WE ADDED THIS SECTION TO FIX THE SILENT CRASH
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    # We are EXPLICITLY removing the limits so it doesn't get OOMKilled
    limits: {}

  backend:
    startupProbe:
      initialDelaySeconds: 60
      failureThreshold: 30
      periodSeconds: 10
    livenessProbe:
      initialDelaySeconds: 60
    readinessProbe:
      initialDelaySeconds: 60