backstage:
  postgresql:
    enabled: true

  backstage:
    replicas: 1
    revisionHistoryLimit: 2

    image:
      repository: backstage/backstage
      digest: "sha256:d20016b0455c3d359461be69d85c8b672f0f7ad19d41b773bf4a315ec911ca3c"
      pullPolicy: IfNotPresent

    appConfig:
      app:
        baseUrl: http://localhost:7007
      backend:
        baseUrl: http://localhost:7007
        listen:
          port: 7007
          host: "0.0.0.0"

    resources:
      requests:
        cpu: 100m
        memory: 512Mi
      limits: {}

    startupProbe:
      initialDelaySeconds: 120
      timeoutSeconds: 10
      periodSeconds: 10
      failureThreshold: 30
    livenessProbe:
      initialDelaySeconds: 300
      timeoutSeconds: 10
      periodSeconds: 10
      failureThreshold: 10
    readinessProbe:
      initialDelaySeconds: 120
      timeoutSeconds: 10
      periodSeconds: 10
      failureThreshold: 10